include LICENSE
include README.md
include pyproject.toml
include setup.py
include *.hpp
recursive-include infra *.h *.hpp
recursive-include python *.py *.cpp *.hpp
global-exclude .DS_Store
global-exclude *.so *.pyd *.dll
global-exclude __pycache__ *.py[cod]
global-exclude *.egg-info
